html { 
	font-size:100%;	/*best for responsive*/
	background: url('dead.jpg');
	background-position: 50% 50%; /*responsive background*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	-webkit-user-select: none; /*unselectable*/      
	-moz-user-select: none; 
	-ms-user-select: none; 
	overflow: hidden; /* hiding horizontal scroll bar */
}
@font-face{ /*enter own txt-font*/
	font-family: "Gill Sans Hel";
	src: url('Gill Sans Hel.otf');
}
.links{ 
	cursor: pointer;
}
.imagenext{
	width: 9%;
	position:absolute;
	left: 91%;
	bottom: 1%;
}
.modalDialog { /*creation of modal box*/
	position: fixed;
	font-family: "Gill Sans Hel";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	text-align:justify;
	text-justify: inter-word;
	overflow: auto; /* for use of scrollbar */
}
.modalDialog:target { /*creation of pseudo-class*/
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div { /*style the div inside modal box*/
	cursor:default;
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	z-index:200;
}
.close { /*style close button*/
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { 
	background: red; 
	cursor:pointer;
}